body {
    background: #e7e5e4;
    padding-top: 60px;
}

hr {
    background: #c7c7c7;
}

img {
    margin: 0;
}

footer {
    color: whitesmoke;
}

footer h4 {
    color: whitesmoke;
    margin: 20px 0 0;
}

footer span {
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    color: #6f6f6f;
}

footer p {
    margin-bottom: 0;
}

form {
    margin: 0;
}

.headroom {
    border-bottom: 1px solid rgba(255,255,255,0.3);
    box-shadow: rgba(0, 0, 0, 0.2) 0 3px 10px;
    transition: background 0.1s ease-in;
}

.headroom:hover,
.headroom--pinned {
    background: rgba(0, 0, 0, 0.8);
}

.headroom-wrapper {
    height: 67px !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

/* sectionElement component */
[data-attr=section-right] .description {
    margin-right: 240px; /* Image width + 20px (margin) + 20px (padding)*/
}
[data-attr=section-left] .description {
    margin-left: 240px; /* image width + 20px (margin) + 20px (padding) */
}

@supports (shape-outside: circle()) {
    [data-attr=section-right] .description {
        margin-right: 140px; /* half of image width + 20px (margin) + 20px (padding) */
    }
    [data-attr=section-left] .description {
        margin-left: 140px; /* half of image width + 20px (margin) + 20px (padding) */
    }
}

@media screen and (max-width: 699px) {
    [data-attr=section-right] .description,
    [data-attr=section-left] .description {
        margin: 0 !important;
    }
}