.markdown {
  padding-top: 30px;
}

.markdown h1 {
  font-family: 'Open Sans', Arial, sans-serif;
  color: #555;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: -2px;
  text-shadow: 2px 2px 0 #e7e5e4, 4px 4px 0 rgba(0, 0, 0, 0.2);
}

.markdown p {
  font-size: 20px;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
  color: rgba(44, 44, 44, 1);
}

.markdown a {
  color: rgba(255, 127, 80, 1);
  text-decoration: none;
  border-bottom: 1px solid;
}

.warning {
  color: #9F6000;
  background-color: #FEEFB3;
  padding: 18px;
}
.warning:before {
  content:'\26A0';
  margin-right: 9px;
}

.rfc-page pre {
  font-family: inherit;
}

.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080;
}

.hljs-string,
.hljs-doctag {
  color: #d14;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #009926;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
