.menu {
  composes: wrapper from '../../molecules/wrapper/index.styles.module.scss';
  padding: .65rem 1.2375rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  width: 32px;
  height: 32px;
  display: block;
  margin: 0;
}

.link {
  margin-left: 14px;
  color: whitesmoke;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

.logoLink {
  composes: link;
  margin-left: 0;
  width: 36px;
  height: 36px;
  fill: whitesmoke;
}