.wrapper {
  composes: wrapper from '../../molecules/wrapper/index.styles.module.scss';
  padding-top: 0;
  padding-bottom: 0;
  height: 100%;
}

.hero {
  position: relative;
  margin-top: -60px;
  width: 100%;
  background: url('../../../pages/images/hero.jpg') center / cover no-repeat fixed rgb(181, 181, 181);
}

.content {
  padding-top: 70px;
}

@media screen and (min-width: 667px) {
  .content {
    padding-top: 160px;
  }
}

.headers {
  color: whitesmoke;
  text-align: center;
}

.h1 {
  fill: whitesmoke;
  width: 100%;
  max-width: 500px;
  margin: 10px auto;
}

.h2 {
  composes: headers;
  display: inline-block;
}

@media screen and (min-width: 480px) {
  .h2 {
    margin-right: 20px;
  }
}

.h3 {
  composes: h2;
}

.p {
  color: darken(whitesmoke, 15%);
  text-align: center;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
}

.span {
  font-size: 14px;
  font-weight: 400;
}

.buttonsHolder {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.messageHolder {
  text-align: center;
  margin: 40px 0 20px 0;
}

@media screen and (min-width: 667px) {
  .messageHolder {
    margin: 60px 0 60px;
  }
}