.section {
    background: whitesmoke;
    padding: 15px;
    overflow: hidden;
    margin-bottom: 20px;
    border-bottom: 2px solid #d4d4d4;
}

@media screen and (min-width: 667px) {
    .section {
        padding: 30px;
    }
}

.icon,
.symbol {
    display: none;
}

.header {
    color: #555;
    letter-spacing: .05em;
    text-shadow: 2px 2px 0 #f5f5f5,4px 4px 0 rgba(0,0,0,.2);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.65rem;
}

.description {
    text-align: justify;
}

@media screen and (min-width: 667px) {
    .icon {
        width: 300px;
        height: 300px;
        display: block;
        border-radius: 50%;
        margin: 0;
        overflow: hidden;
    }

    .symbol {
        composes: icon;
        width: 280px;
        position: absolute;
        z-index: 2;
        color: whitesmoke;
        font-size: 140px;
        font-weight: 600;
        text-align: center;
        text-shadow: 5px 5px 0 rgba(0,0,0,0.1);
        line-height: 280px;
    }
}