.section {
    background: whitesmoke;
    overflow: hidden;
    margin-bottom: 20px;
    border-bottom: 2px solid #d4d4d4;
}

.header {
    color: #555;
    letter-spacing: .05em;
    text-shadow: 2px 2px 0 #f5f5f5,4px 4px 0 rgba(0,0,0,.2);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.65rem;
}

.headerLeft {
    composes: header;
}

.headerRight {
    composes: header;
}

.p {
    text-align: justify;
    font-size: 16px;
    line-height: 1.5;
}

.description {
    padding: 30px 30px 0 30px;
}

@media screen and (min-width: 1275px) {
    .polygon {
        border: 7px solid whitesmoke;
        width: 600px;
        height: 430px;
        overflow: hidden;
        background: url(http://lorempixel.com/600/430/) no-repeat;
        background-size: cover;
    }

    .polygonLeft {
        composes: polygon;
        float: left;
        shape-outside: polygon(0 0, 350px 0, 620px 430px, 0 430px);
        -webkit-clip-path: polygon(0 0, 330px 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 330px 0, 100% 100%, 0 100%);
        margin: 0 350px 0 0;
    }

    .polygonRight {
        composes: polygon;
        float: right;
        shape-outside: polygon(925px 0, 1275px 0, 1275px 430px, 655px 430px);
        -webkit-clip-path: polygon(270px 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(270px 0, 100% 0, 100% 100%, 0 100%);
        margin: 0 0 0 675px;
    }
    .headerRight {
        text-align: right;
    }
}

@supports not (shape-outside: polygon(0 0, 0 200px, 300px 600px)) {
    .polygonLeft {
        margin-right: 20px;
    }
    .polygonRight {
        margin-left: 20px;
    }
    .headerRight {
        text-align: left;
    }
}