.list {
  composes: row from '../../../css/flexgrid.module.css';
}

.section {
  composes: col-xs-12 from '../../../css/flexgrid.module.css';
  composes: col-sm-6 from '../../../css/flexgrid.module.css';
  composes: section from '../sectionElement/sectionElement.styles.module.scss';
  padding: 1rem 2rem;
  border: 0;
  text-align: justify;
  font-size: 0.875rem;
  line-height: 1.6;

  &::before {
    content: '';
    height: 5px;
    width: 100%;
    display: block;
    background: #eaeaea;
    position: relative;
    top: 50px;
    z-index: 1;
    border-bottom: 1px solid #d8d8d8;
  }
}

.quote {
  font-style: italic;
  color: #969696;
}

.quote::first-letter {
  float: left;
  color: #ff5e49;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  font-family: Georgia;
}

.quoteMark {
  text-align: center;
  font-weight: 800;
  font-family: Georgia;
}

.author {
  font-weight: bold;
  color: #4682b4;
  text-decoration: none;
}

.company {
  font-weight: 300;
}

.authorImage {
  width: 100px;
  height: 100px;
  margin: 0 auto 10px;
  background: whitesmoke;
  border: 7px solid rgb(234, 234, 234);
  border-radius: 50%;
  position: relative;
  z-index: 2;
  box-shadow: 0 1px 0 #c7c7c7;
  overflow: hidden;
  fill: #d8d8d8;
}