.h1 {
  color: #555;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 3.3rem;
  letter-spacing: -2px;
  text-shadow: 3px 3px 0 #e7e5e4, 6px 6px 0 rgba(0, 0, 0, 0.2);
  margin-top: 30px;
}
