.button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  border: 0;
  background: transparent;
  color: whitesmoke;
  display: inline-block;
  cursor: pointer;
  position: relative;
  min-width: 160px;
  z-index: 0;
}

.subscribeLink {
  composes: button;
  border: 2px solid whitesmoke;
  padding: 11px 30px;
}

.subscribeButton {
  composes: button;
  color: #f5f5f5;
  background: #387aa5;
  text-transform: uppercase;
  font-size: 16px;
  border: 2px solid #2a5a79;
  padding: 7px 30px;
  width: 100%;
  margin: 10px 0;
}

.trial {
  composes: button;
  border: 2px solid #ff5e49;
  border-radius: 0 0 2px 2px;
  background: #ff5e49;
  box-shadow: 0 4px #ab3c3c;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

.trialSmall {
  composes: trial;
  font-size: 14px;
  padding: 0 14px;
  min-width: initial;
}

.subscribeLink:hover {
  color: lighten(black, 20%);
}

.trial:hover {
  box-shadow: 0 2px #ab3c3c;
  top: 2px;
}

.subscribeLink:hover:after,
.subscribeLink:active:after {
  width: 100%;
}

.trial::after,
.subscribeLink::after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.subscribeLink::after {
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background: whitesmoke;
}

.scrollToTop {
  padding: 0 5px;
  float: right;
  border: 1px solid rgba(70,130,180,0.3);
  background-color: rgba(255,255,255,0.6);
  color: rgba(70,130,180,0.7);
  transition-duration: 0.2s;
  transition-property: color, border, background-color;
  transition-timing-function: ease-out;

  &:hover {
    cursor: pointer;
    color: rgba(70,130,180,1);
    border: 1px solid rgba(70,130,180,0.6);
    background-color: rgba(255,255,255,0.9);
  }

  &::before {
    content: '\2191';
    margin-right: 5px;
    position: relative;
    top: -2px;
    font-size: 1.25rem;
  }
}

.arrowDown {
  fill: rgba(245,245,245,0.7);
  position: absolute;
  display: block;
  bottom: 0;
  left: 50%;
  left: calc(50% - 60px /2);
  width: 60px;
  transition: fill 0.2s ease-in;
  -moz-animation: bounce 2.5s infinite;
  -webkit-animation: bounce 2.5s infinite;
  animation: bounce 2.5s infinite;

  &:hover {
    fill: rgba(245,245,245,1);
  }
}

.trialContainer {
  display: none;
}

@media screen and (min-width: 667px) {
  .trialContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.info {
  color: darken(whitesmoke, 5%);
  font-size: 12px;

  &::before {
    content: 'i';
    margin-right: 5px;
    border: 1px solid;
    padding: 0 5px;
    border-radius: 50%;
  }
}

@-moz-keyframes bounce {
  0%, 10%, 30%, 50%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  20% {
    -moz-transform: translateY(-14px);
    transform: translateY(-14px);
  }
  35% {
    -moz-transform: translateY(-4px);
    transform: translateY(-4px);
  }
}
@-webkit-keyframes bounce {
  0%, 10%, 30%, 50%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(-14px);
    transform: translateY(-14px);
  }
  35% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
}
@keyframes bounce {
  0%, 10%, 30%, 50%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  20% {
    -moz-transform: translateY(-14px);
    -ms-transform: translateY(-14px);
    -webkit-transform: translateY(-14px);
    transform: translateY(-14px);
  }
  35% {
    -moz-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
}
