$footerColor: #6f6f6f;

.section {
  background: #222;
  border-top: 5px solid #171717;
}

.wrapper {
  composes: wrapper from '../../molecules/wrapper/index.styles.module.scss';
  padding-bottom: 0;
}

.footer {
  font-size: 14px;
}

.brandSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.brandLogo {
  width: 48px;
  height: 48px;
  fill: $footerColor;
}

.copyRights {
  color: $footerColor;
}

.linksSection {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  border-top: 1px solid darken($footerColor, 10%);
  border-bottom: 1px solid darken($footerColor, 10%);
  padding-top: 20px;
}

.contactSection {
  composes: linksSection;
  justify-content: space-between;
  flex-direction: column;
  border-top: 0;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .contactSection {
    flex-direction: row;
    text-align: left;
  }
}

.linksList {
  margin: 0;
  list-style-type: none;
}

.li {
  display: inline;
  margin-right: 15px;
}

.link {
  text-decoration: none;
  text-transform: uppercase;
  color: whitesmoke;
  border-bottom: 1px dotted lighten($footerColor, 20%);

  &:hover {
    color: $footerColor;
  }
}

.social {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

@media screen and (min-width: 480px) {
  .social {
    flex-direction: row;
    margin-top: 0;
  }
}

.icon {
  display: block;
  width: 32px;
  margin-left: 10px;
  fill: whitesmoke;

  &:hover {
    fill: $footerColor;
  }
}

.email {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

@media screen and (min-width: 480px) {
  .email {
    flex-direction: row;
    margin-top: 0;
  }
}

.emailIcon {
  composes: icon;
  width: 16px;
  height: 16px;
  margin: 10px 10px 10px 0;
  fill: $footerColor;

  &:hover {
    fill: whitesmoke;
  }
}

.emailAddress {
  color: whitesmoke;
  font-weight: 400;
}
