.h1 {
  text-align: center;
  color: whitesmoke;
  font-weight: 300;
}

.h3 {
  font-weight: 300;
  text-align: center;
  font-size: 20px;
  color: #2f8cc9;
  margin-bottom: 0;
}

.p {
  composes: h3;
  font-size: 14px;
  line-height: 0.75;
  margin-bottom: 40px
}

.price {
  composes: p;
  font-weight: 700;
  font-size: 100px;
  color: #ff5e49;

  &::before {
    content: '£';
    position:absolute;
    color: lighten(#2f8cc9, 15%);
    font-size: 24px;
    font-weight: 400;
    margin-left: -12px;
  }
}

.appendix {
  composes: p;
  display: block;
  margin-top: 10px;
  font-size: 16px;
}

.pricingBox {
  margin: 0 auto;
  padding: 20px;
  max-width: 320px;
  background: whitesmoke;
  box-shadow: 0 2px 4px 2px rgba(0,0,0,0.2);
  border-radius: 2px;
}

.addBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  border: 2px solid rgb(171, 60, 60);
  margin-bottom: 40px;
}

.number {
  margin-right:10px;
}

.button {
  background: #ff5e49;
  border: 0;
  color: whitesmoke;
  border-right: 2px solid rgb(171, 60, 60);
  width: 28px;

  &:focus {
    outline: 0;
  }

  &:hover {
    background: darken(#ff5e49, 5%);
    color: white;
  }
}

.addRemove {

}
