.media {
  composes: col-xs-12 from '../../../css/flexgrid.module.css';
  composes: col-sm-6 from '../../../css/flexgrid.module.css';
  composes: col-md-4 from '../../../css/flexgrid.module.css';
  padding: 0 1.125rem;
}

.header {
  margin: 10px 0;
  display: flex;
}

.icon {
  fill: rgba(55, 157, 226, 1);
  width: 32px;
  margin-right: 10px;
  flex-shrink: 0;
}

.h2 {
  margin-bottom: 0;
  color: rgba(55, 157, 226, 1);
  font: 1.2em/1.1 Roboto;
}

.description {
  text-align: justify;
}